<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Sharing Map</title>

    <!-- linking the css file -->
    <link rel="stylesheet" href="../static/css/index.css">

    <!-- declare keys and backend urls -->
    <script>
        window.GOOGLE_MAP_KEY = "{{ GOOGLE_MAP_KEY }}";
        window.GOOGLE_MAP_ID = "{{ GOOGLE_MAP_ID }}";
        window.WEATHER_URL = "{{ WEATHER_URL }}";
        window.BIKES_URL = "{{ BIKES_URL }}";
        window.CURRENT_BIKES_URL = "{{ CURRENT_BIKES_URL }}";
        window.CURRENT_WEATHER_URL = "{{ CURRENT_WEATHER_URL }}";
        window.BIKES_ONE_DAY_URL = "{{ BIKES_ONE_DAY_URL }}";
    </script>

    <!-- linking the javascript file -->
    <script type="module">
        import { } from "../static/js/map.js";
    </script>

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            alert("Latitude: " + position.coords.latitude +
                "\nLongitude: " + position.coords.longitude);
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }
    </script>

</head>

<body>

    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>
    <h3>Dublin Bikes map</h3>

    <!-- The map container -->
    <div id="map"></div>

    <!-- Weather Information Container -->
    <div class="weather-container" id="weather-info">
        <img id="weather-icon" src="" alt="Weather Icon" />
        <p id="weather-desc">Loading weather...</p>
    </div>

    <button onclick="getLocation()">Share Location</button>

</body>

</html>