<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/se.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Google Map</title>
  </head>
  <body>
    
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
    <h3>Dublin Bikes map</h3>
    <!-- The map container -->
    <div id="map"></div>
    
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Dublin (replace with your desired coordinates)
        const location = { lat: 53.36128616333008, lng: -6.255364894866943 };

        // Create a map centered at the given location
        const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: location
        });

        // Add an AdvancedMarkerElement at the given location
        const marker = new google.maps.marker.AdvancedMarkerElement({
          map: map,
          position: location,
          title: 'My location'
        });
      }
    </script>
    <!-- Load Google Maps API with loading=async -->
    <!--  Avoid the bug: Google Maps API is loaded before the initMap function is defined. -->
    <!-- use render_template in Flask to pass a variable like GOOGLE_MAP_KEY to an HTML template, 
     the variable is rendered directly into the HTML source code before it is sent to the browser. 
     This means that the key becomes part of the HTML content, which can be viewed in the browser
     so this way won't work -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAP_KEY}}&callback=initMap&loading=async" async defer></script> -->
    <!-- send request to the backend to get the key from system variable. In this way, user won't be able to see the key in the browser -->
    <script>
      fetch('/get-map-key')
      .then(response => response.json())
      .then(data => {
          const script = document.createElement('script');
          script.src = `https://maps.googleapis.com/maps/api/js?key=${data.key}&callback=initMap&loading=async`;
          script.async = true;
          document.head.appendChild(script);
        });
    </script>
  </body>
</html>