/* Set a background image for the entire body */
body {
  background-image: url('../resources/beste-e-bike-app-von-powunity-1536x864.webp');
  /* Update the path */
  background-size: cover;
  /* Ensure the image covers the whole page */
  background-position: center center;
  /* Center the image */
  background-attachment: fixed;
  /* Optional: Fixed background while scrolling */
  color: white;
  /* Optional: Set text color to white for better contrast */
}

/* Styling for the navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Styling for the map element */
#map {
  height: 650px;
  width: 100%;
  border: 1px solid red;
  /* Debugging */
}