#sidebar {
    display: none;
    border-radius: 1%;
    flex-basis: 15rem;
    flex-grow: 1;
    margin-top: 1%;
    margin-left: 1%;
    padding: 1rem;
    max-width: 28rem;
    height: 95%;
    box-sizing: border-box;
    overflow: auto;
    color: black;
}

#map #sidebar {
    display: block;
    font-size: medium;
}

#sidebar-navigation ul {
    background-color: #f5f5f5;
}

#sidebar-navigation li a {
    color: black;
}

#sidebar-navigation li a:hover {
    background-color: gray;
}

#sidebar-navigation {
    top: 1%;
    right: 1%;
    padding: 1%;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}