#sidebar {
    border-radius: 1%;
    flex-basis: 15rem;
    flex-grow: 1;
    margin-top: 1%;
    margin-left: 1%;
    padding: 1rem;
    max-width: 30rem;
    height: 95%;
    box-sizing: border-box;
    overflow: auto;
    background: #C1CDD2;
    color: black;
}