.info-window-content {
    font-family: Arial, sans-serif;
    font-size: 110%;
    color: #000;
}

.info-window-content a {
    text-decoration: none;
}

#station-info-container {
    display: none;
}

#station-info {
    text-align: center;
    line-height: 150%;
}