#weather-info {
    top: 1%;
    right: 1%;
    padding: 1%;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    font-size: large;
    display: block;
}

#weather-info p {
    margin: 0;
    text-align: center;
}

#weather-icon {
    width: 10%;
    height: 10%;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#last-updated {
    font-size: small;
}