.weather-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

.weather-container img {
    width: 50px;
    height: 50px;
}

.weather-container p {
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
}

#weather-desc {
    font: 14px Arial, sans-serif;
    color: #000;
}

#weather-icon {
    float: right;
}